{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base_styles.css">

    {% block styles %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="menu_burger">
            <a href="#">Новости</a>
            <a href="#">Облако</a>
            <a href="#">О нас</a>
            <span id="close_burger">Закрыть меню</span>
        </div>
        <div class="burger">
            <img src="/static/burger.svg">
        </div>
        <span><a class="header_title" href = "{% url 'index' %}">PetCloud</a>
        </span>
        <div class="profile" >
            {% if user.is_authenticated %}
            <a href="{% url 'profile_view' user.pk %}">
            <img src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static '/profile.svg' %}{% endif %}">
                </a>
            {% else %}
            <a href="/accounts/login">
                <img src="/static/profile.svg">
            </a>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <img class="footer_img" src="/static/dd_team_icon.jpg" alt="">
        <span class="footer_body">
            Данный проект создан совместными усилиями команды DD Team 
        </span>
        <span class="footer_phone_number">
            8 (932)-323-17-36
        </span>
        <span class="footer_mail">
            piplison2122@gmail.com
        </span>
    </footer>
    <script src="/static/js/script_base.js"></script>
</body>
</html>